<!DOCTYPE html>
<html>

<head>
    <title>IndexController::index</title>
</head>
<body>

<h1> This H1 cannot be modified.</h1>
{% block content %}
    <h2>Hello {{ name }}!</h2>
{% endblock %}

</body>
</html>
